@model IEnumerable<TwitterService.TweetSentiment>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IsPositive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TweetContent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TweetedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TweetedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TweetID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IsPositive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TweetContent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TweetedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TweetedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TweetID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
